body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    background-color: #f16fe0;
    
}

header, section, footer {
    background-color: #baf084;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
